<div class="weather-details">
  <input class="input-city" type="text" placeholder="enter city" value="{{cityName}}" (keyup)="autocomplete()" #city>
  <select (change)="setCity()" class="select-city" #citySelect>
    <option *ngFor="let city of cities" #cityOption>
      {{city.LocalizedName}}
    </option>
  </select>
  <div class="border weather-forecast d-flex flex-column justify-content-center">
    <div class="d-flex justify-content-between">
      <div class="d-flex flex-column p1">
        <div *ngIf="cityName">{{cityName}}</div>
        <div *ngIf="currentWeather">{{currentWeather[0].Temperature.Metric.Value}}{{currentWeather[0].Temperature.Metric.Unit}}</div>
      </div>
      <div class="p1">
        <button>Add To Favorites</button>
      </div>
    </div>
    <h3 *ngIf="currentWeather" class="d-flex justify-content-center my-1">{{currentWeather[0].WeatherText}}</h3>
    <div class="d-flex flex-row justify-content-around">
      <div class="day-weather d-flex flex-column border align-items-center justify-content-center">
        <div>Sun</div>
        <div>22'c</div>
      </div>
      <div class="day-weather d-flex flex-column border align-items-center justify-content-center">
        <div>Sun</div>
        <div>22'c</div>
      </div>
      <div class="day-weather d-flex flex-column border align-items-center justify-content-center">
        <div>Sun</div>
        <div>22'c</div>
      </div>
      <div class="day-weather d-flex flex-column border align-items-center justify-content-center">
        <div>Sun</div>
        <div>22'c</div>
      </div>
      <div class="day-weather d-flex flex-column border align-items-center justify-content-center">
        <div>Sun</div>
        <div>22'c</div>
      </div>
    </div>
  </div>
</div>