.border{
    border:1px solid;
}
.input-city{
    width:100%;
    max-width:300px;
    display: block;
    margin:15px auto;
}
.weather-details{
    margin:auto;
}
.weather-forecast{
    width: 800px;
}