.navigation {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    background: rgb(96, 159, 214);
    width: 100%;
}

.navigation > li > ul > li {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    border:1px solid;
    border-radius: 5px;
    min-width:80px;
    text-align: center;
    transition: 0.2s all;
    background: #7b6868;
}

.navigation>li>ul>li>a {
    text-decoration: none;
    color: #fff; 
}
.navigation>li>ul>li:hover {
    background: #d61919;
}

.links{
    display:flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}
h3 {
    margin: 5px;
    padding: 5px;
}
